.card-content{
font-family: 'Orbitron', sans-serif;
background-color: rgba(0, 0, 0, 0.7);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 0px;
}
.typography-news{
font-family: 'Orbitron', sans-serif;
color: white;
text-shadow: 0px 3px 3px rgb(255, 255, 255);
font-size: 35px;
padding: 30px;
}
.product-title{
font-size: 22px;
color: red;
padding-bottom: 20px;
text-align: center;
text-shadow: 0px 3px 3px rgb(0, 0, 0);
}
.product-desc{
color: white;
font-size: 15px;
}
.product-data{
color: rgba(255, 255, 255, 0.3);
font-size: 18px;
padding-top:15px ;
}
.product-like{
color: white;
font-size: 20px;
padding-top: 20px;
}
.btn-gtn{
    display: flex;
    justify-content: center;
    background-color: black;
    border-top: 1px solid rgb(255, 0, 0);
    
}
.btn-gtn-wrap{
font-family: 'Orbitron', sans-serif;
color: red;
background-color: rgba(255, 255, 255, 0.2);
border-radius: 7px ;
}
.product-img{
    text-align: center;
    margin-top: 0px;
    img {
        width: 650px;
        height: auto;
    }
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
color:white
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked{
    color: red;
}