
.btn-1{
    
    left:-290px;
    top: 37px;
    font-size: 14px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 2px 3px rgb(255, 255, 255);
    text-decoration: none;
    color:white 
    
}
.btn-2{
    left:-15px;
    top: 2px;
    font-size: 14px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 2px 3px rgb(255, 255, 255);
    text-decoration: none;
    color: white;
}
.btn-3{
    left:-452px;
    top: -16px;
    font-size: 14px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 2px 3px rgb(255, 255, 255);
    text-decoration: none;
    color: white;
}
.btn-4{
    color:white;
    left:-295px;
    top: 37px;
    font-size: 14px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 2px 3px rgb(255, 255, 255);
    text-decoration: none;

}
.btn-1:hover{
    color: rgb(60, 255, 0);
}
.btn-3:hover{
    color: rgb(60, 255, 0);
}
.btn-2:hover{
    color: rgb(60, 255, 0);
}
.btn-1:hover{
    color: rgb(60, 255, 0);
}
.btn-4:hover{
    color: rgb(255, 0, 0);
    text-shadow: 0px 2px 3px rgb(255, 0, 0);
}