
.btn-1{
    color: red;
    left:-85px;
    top: 2px;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
}
.btn-2{
    color: white;
    left: -80px;
    top: 2px;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
}