
.btn-1{
    
    left:-290px;
    top: 37px;
    font-size: 14px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 2px 3px rgb(0, 255, 21);
    text-decoration: none;
    color:rgba(0, 255, 21) 
    
}
.btn-2{
    left:-15px;
    top: 2px;
    font-size: 14px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 2px 3px rgb(0, 255, 21);
    text-decoration: none;
    color: white;
}
.btn-3{
    left:-452px;
    top: -16px;
    font-size: 14px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 2px 3px rgb(0, 255, 21);
    text-decoration: none;
    color: white;
}
.btn-4{
    color: rgb(206, 110, 0);
    left:-295px;
    top: 37px;
    font-size: 14px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 2px 3px rgb(255, 0, 0);
    text-decoration: none;

}
.btn-1:hover{
    text-shadow: 0px 3px 3px rgb(202, 74, 0);
}
.btn-3:hover{
    color: rgb(229, 255, 0);
}
.btn-2:hover{
    color: rgb(229, 255, 0);
}