.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    color: white;
    background-color: rgb(0, 0, 0, 0.3);
    height: 50px;

}
