@media (max-width: 768px ){
.counter{
    visibility: hiden;}
}
@media (min-width: 769px) {
    .counter{
        align-items: center;
        width: 18px;
        height: 18px;
        color: white;
        background-color: rgba(255, 0, 0, 0.507);
        border-radius: 50px;
        font-size: 15px;
        text-shadow: 1px 4px 5px rgb(0, 0, 0)
    }
    }